
#wrap{
    width:680px;
    padding:40px;
    border-radius: 40px;
    box-shadow: 0 3px 6px 0 rgba(24, 43, 88, 0.16);
    background-color: #fff;
    margin: 50px auto;
}

.top-cont{
    display:flex;
    justify-content: space-between;
    margin-bottom:40px;
}
.top-cont button{
    cursor: pointer;
    font-size:20px;
    font-weight:500;
    padding:16px 55px;
    border-radius: 8px;
    background-color: #806de8;
    border:none;
    color:#fff;
    transition: .2s;
}
.top-cont button:hover{
    background-color: #6956d2;
    transition: .2s;
}

.top-cont h2{
    font-size:50px;
}

.input-box{
    text-align: center;
    margin: 0 170px 40px;
}

.input-box.word label{
    text-align: center;
}

.input-box label{
    display: block;
    text-align: left;
    color:#707070;
    font-size:16px;
    padding-bottom:8px;
}

.input-box.word input{
    width:220px;
    padding:16px 0;
    text-align: center;
    font-size:45px;
    background-color: #e9ebf7;
    border-radius: 8px;
    font-weight:600;
    border:none;
}

.input-box input{
    border-radius: 48px;
    width:100%;
    border: 2px solid #d7dbe6;
    padding:15px 0;
    text-align: center;
    font-size:30px;
    font-weight:500;
    background-color: transparent;
}
.input-box.user input:focus-visible{
    outline-width: 2px;
    outline-color: #b8b2f2;
}

.bot-cont{
    display: flex;
    justify-content: space-between;
}

.bot-cont .box{
    border-radius: 8px;
    width:48%;
    background-color: #eff4f6;
    overflow: hidden;
}
.correct p{
    background-color: #4dc187;
    padding:8px 0;
    text-align: center;
    color:#fff;
    font-size:20px;
}
.incorrect p{
    background-color: #f86361;
    padding:8px 0;
    text-align: center;
    color:#fff;
    font-size:20px;
}
.correct ul{
    background: url('/img/O.png') no-repeat center;
}
.incorrect ul{
    background: url('/img/X.png') no-repeat center;
}
.box{
    margin-top:35px;
}
.box ul {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding:20px 30px;
    min-height:150px;
    max-height:150px;
    overflow-y: auto;
    box-sizing: border-box;
}

.box ul li{
    font-size:20px;
    color:#444;
}

.box ul::-webkit-scrollbar {
    width: 10px;
  }
.box ul::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 10px;
    opacity: 0.5;
}
.box ul::-webkit-scrollbar-track {
    background-color: transparent;
}
